.botones{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
    justify-items: center;
    flex-direction: column;
   
}
.botones button{
    background-color: #e0e1eb;
    color: rgb(12, 12, 12);
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
}
.botones p{
    color: white;
    font-size: 20px;
}